@page "/RemittanceEdit/{SpecificationId:int}/{InventoryVoucherId:int}"

@using Microsoft.AspNetCore.Components.Web;
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.JSInterop
@using InventorySampleUI.Shared.Toolbar;
@using InventorySampleUI.Service;
@using InventorySampleServer.Model.Store.InventoryVoucher;
@using InventorySampleServer.Model.Store.Store;
@using InventorySampleServer.Model.Custom.InventoryVoucher;
@using System.ComponentModel.DataAnnotations;
@using BlazorBootstrap
@using Blazor.PersianDatePicker


<h3>ثبت سند حواله</h3>


@code {
}
